

@defer (
    when personnel_store.isFulfilled()
) {
    <app-perso-template [table]="table()" [table_update_form]="table_update_form" [dataSource]="dataSource()"
    [displayedColumns]="displayedColumns" [className]="'personnel'" (newItemEvent)="updateData($event)"
    (RemoveItemEvent)="deleteData($event)" (RechercheEvent)="recherche($event)" (AfficheToutEvent)="afficheTout()"
    [titre]="titre" (PatchEvent)="PatchEventFct($event)" (addEvent)="addEventFct()" [action_template]="actiontemplate"
    [is_open2]="is_open2()" [(is_open)]="is_open" [pointage]="pointages">
</app-perso-template>  
}
@placeholder {
    <div [ngStyle]="{'padding-top.px':200,'text-align':'center'}">
      <h2>téléchargement des données.....</h2>
    </div>
}


<ng-template #titre>
    <div class="content_head">
        <h2> {{titre_tableau()}}</h2>
    </div>
</ng-template>
<ng-template #actiontemplate let-row="row" let-ind="ind">
    <div [ngStyle]="{'display':'flex'}">
        <button mat-icon-button type="button" (click)="deleteData(row.id)"> <mat-icon> delete</mat-icon> </button>
        <button mat-icon-button type="button" (click)="modifier(row)"> <mat-icon> edit</mat-icon> </button>
        <button mat-flat-button type="button" (click)="pointage(row)"> pointage </button>
    </div>

</ng-template>
<ng-template #pointages>
    <div [ngStyle]="{'display':'block','padding.px':20}">
        <div
            [ngStyle]="{'background-color':'#D6D3E2','text-align':'left','font-size.px':14,'padding.px':10,'margin-bottom.px':20}">
            <button mat-icon-button title="quitter" (click)="quitter()"
                [ngStyle]="{'background-color':'red'}"><mat-icon>close</mat-icon> </button>
            <h1 [ngStyle]="{'font-size.px':26}"> {{'NOM: ' + current_row()?.nom}}</h1>
            <h1 [ngStyle]="{'font-size.px':26}"> {{ 'PRENOM: ' + current_row()?.prenom}} </h1>
            <h1 [ngStyle]="{'font-size.px':26}">{{ 'FONCTION: ' + current_row()?.fonction}}</h1>
            <h1 [ngStyle]="{'font-size.px':26}">{{ 'N° TELEPHONE: ' + current_row()?.num_phone1}}</h1>
        </div>
        <div [ngStyle]="{'display':'flex'}">
            <div [ngStyle]="{'display':'block','width.%':50,'margin-right.px':20,'border': '1px dashed'}">
                <div [ngStyle]="{'display':'center','margin-bottom.px':20}">
                    <h2 [ngStyle]="{'font-size.px':24,'font-weight':'bold','text-align':'center'}">POINTAGES EFFECTUES
                    </h2>
                </div>
                @for(node of personnel_store.getDates()[1];track $index; let index = $index){
                <div [style]="{'background-color':'#D2D2D2','display':'flex','width.%':90,'border': '1px solid'}">
                    <button mat-icon-button (click)="expander(index)"
                        [ngStyle]="{'margin-left.px':10,'margin-top.px':20}">
                        @if(tab_expander()[index]){
                        <mat-icon>keyboard_arrow_down</mat-icon>
                        }@else {
                        <mat-icon>keyboard_arrow_up</mat-icon>
                        }
                    </button>
                    <h1
                        [ngStyle]="{'font-size.px':18,'font-weight':'bold','margin-left.px':20,'font-family':'Trebuchet MS, sans-serif'}">
                        {{node.name}}</h1>
                </div>
                @for(row of node.children;track row){
                <div (click)="afficher(row.name)"
                    [ngClass]="{'row_hide':tab_expander()[index] ,'ligne_expand':!tab_expander()[index]}"
                    [ngStyle]="{'margin-left.px':50}">

                    <a
                        [ngStyle]="{'font-size.px':16,'font-weight':current_row()?.dates?.includes(row.name)?'bold':'','color':current_row()?.dates?.includes(row.name)?'green':'red'}">
                        {{row.name}} </a>
                </div>
                }
                }
            </div>

            <div [ngStyle]="{'display':'block','width.%':50,'border': '1px dashed','padding.px':10}">
                @if(is_click())
                {
                <mat-card>
                    <mat-card-content>
                        <h3 [ngStyle]="{'font-size.px':20}">{{'Pointage du '+date_pointage()}} </h3>

                        <section>
                            <mat-slide-toggle class="example-margin" [checked]="is_pointed()" [disabled]="false"
                                (change)="change_slide($event.checked)">
                                {{is_pointed() ? 'activé' : 'désactivé'}}
                            </mat-slide-toggle>
                        </section>
                    </mat-card-content>
                </mat-card>
                }

                @if(is_pointed()){

                <mat-card [ngStyle]="{'margin-top.px':20}">
                    <mat-card-content>
                        @if ( enregistrement()) {  
                            <div [ngStyle]="{'padding-top.px':200}">
                                <mat-spinner [ngStyle]="{'margin-left.%':50}"></mat-spinner>
                            </div>
                        }
                        @else {
                            <form [formGroup]="table_update_form2" (ngSubmit)="savepointage()">
                                <section>
                                  <label> Présence:</label>
                                  <mat-radio-group  formControlName="presence">
                                      <mat-radio-button class="example-margin" [value]="true">Présent</mat-radio-button>
                                      <mat-radio-button class="example-margin" [value]="false">Absent</mat-radio-button>
                                  </mat-radio-group>
                                </section>
                                     
                                  <mat-form-field>
                                      <mat-label>Heures travaillées</mat-label>
                                      <input matInput type="number" formControlName="heuresN"  >
                                  </mat-form-field>
      
                                  <mat-form-field>
                                      <mat-label>Heures supplémentaires</mat-label>
                                      <input matInput type="number" formControlName="heureSup">
                                  </mat-form-field>
                                  <button mat-flat-button type="submit" (click)="savepointage()" [disabled]="!table_update_form2.valid">Enregistrer</button>
                              </form>
                          
                        }
                      
                    </mat-card-content>
                </mat-card>

                }


            </div>

        </div>
    </div>


</ng-template>