<div class="row">
    
    @for(row of personnel_store.personnel_data();track  row.id) {
       
            <div class="card">
                <div class="card-image">
                    <span class="card-title">{{row.nom}}</span>
                </div>
                <div class="card-content">
                    <p>{{row.prenom}}</p>
                    <p>{{row.num_matricule}}</p>
                    <p>{{row.num_phone1}}</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
      
    
     
    
    
    }
</div>
