<!-- Purpose: This is the main component for the home page of the application. It contains the toolbar and the content of the page. -->
@defer(on timer(2s);hydrate when !end_of_load()){
    <app-home-template [nav_liste]="nav_liste" [toolbar]="toolbar" [content]="content">
    </app-home-template>    
}
@placeholder {
    <div [ngStyle]="{'padding-top.px':200}">
        <mat-spinner [ngStyle]="{'margin-left.%':50}"></mat-spinner>
    </div>
}
    


<ng-template #nav_liste>
</ng-template>
<ng-template #toolbar>
    <div class="example-spacer2">
        <button mat-fab type="button" (click)="accueil()">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class="example-spacer3">
        <button mat-fab extended type="button" (click)="click_constats()" >
            CONSTATS 
        </button>
        <button mat-fab extended type="button"  (click)="click_attachements()">
            ATTACHEMENTS
        </button>
    </div>

</ng-template>
<ng-template #content>
    <router-outlet>
    </router-outlet>
</ng-template>