@defer(on timer(1s);hydrate when !end_of_load()){
<app-home-template [nav_liste]="nav_liste" [toolbar]="toolbar" [content]="content" [title]="title">
</app-home-template>
}
@placeholder{
<div [ngStyle]="{'margin-top':'20px',
    'display':'flex',
    'justify-content':'center',
    'align-items':'center'}">
    <mat-spinner [ngStyle]="{'width':'50%'}"></mat-spinner>
</div>
}

<ng-template #nav_liste>
    <li mat-list-item>
        <a routerLink="pointages">
            Pontage du personnel
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="personnel">
            Liste du personnel
        </a>
    </li>

</ng-template>
<ng-template #toolbar>
    
            <div>
                <a routerLink="pointages" class="btn" (click)="titre.set('Pointages du personnel')">
                    Pointages personnel
                </a>
            </div>
            <div >
                <a routerLink="personnel" class="btn" (click)="titre.set('Liste du personnel')">
                    Liste du personnel
                </a>
            </div>
</ng-template>
<ng-template #title>
    <h2>{{titre()}}</h2>
</ng-template>
<ng-template #content>
    <router-outlet>
    </router-outlet>
</ng-template>