<div class="section_gasoil">
    <div class="gasoil1">
        zez
    </div>
    <div class="gasoil2">
        <div class="icon-block">
            zeze
        </div>

        <div class="icon-block">
            <h2 [ngStyle]="{'font-size.px':18}"> Filtre par engins</h2>
            erer
        </div>
    </div>
    <div class="gasoil3">
        <div class="icon-block">
            <h2 [ngStyle]="{'font-size.px':22,'font-weight':'bold'}"> erezzrrzze</h2>
            <button mat-flat-button color="primary" [ngStyle]="{'margin-bottom.px':10}">
                Nouvel appro gasoil
            </button>
        </div>
    </div>
    <div class="gasoil4">
        ddqsdsq
    </div>
    <div class="gasoil5">
        <button mat-icon-button>
            <mat-icon> print</mat-icon>
        </button>
    </div>
    <div class="gasoil6">
        <button mat-icon-button>
            <mat-icon> add</mat-icon>
        </button>
    </div>
    <div class="tab_gasoil">
        dssd
    </div>
</div>
