<ng-container [ngTemplateOutlet]="Corps">
</ng-container>
<ng-template #Corps>
    <div class="corps">
        <div class="titre">
            <h2>{{titre()}}</h2>
        </div>
        <div class="reste_corps">
            <ng-container [ngTemplateOutlet]="entetebody">
            </ng-container>
            <table mat-table [dataSource]="donnees_table()" class="booktable" multiTemplateDataRows>
                <ng-container *ngFor="let column of displayedColumns() |keyvalue " matColumnDef="{{column.key}}">
                    @if(column.key=='actions')
                    {
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let element;let ind=index">
                        <ng-container [ngTemplateOutlet]="action_template()"
                            [ngTemplateOutletContext]="{row:element,ind:ind,clicker:clicker()}">
                        </ng-container>
                    </td>
                    }@else {
                    <th mat-header-cell *matHeaderCellDef> {{column.value}}
                    </th>
                    <td mat-cell *matCellDef="let element; let ind=index">
                        {{element[""+column.key]}}
                    </td>
                    }
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element;let ind=index" [attr.colspan]="header_titles.length">
                        <form [formGroup]="table_update_form()" (ngSubmit)="addNewItem()">
                            @if(current_row()==element)
                            {
                            <ng-container [ngTemplateOutlet]="mes_saisies()">
                            </ng-container>
                            }
                            @if(current_row()==element)
                            {
                            <div class="myrow">
                                <div class="item s12 m12 l6">
                                    <button mat-flat-button type="submit"
                                        [disabled]="!table_update_form().valid">{{is_update()?'Modifier':'Enregistrer'}}
                                    </button>
                                </div>
                                <div class="item s12 m12 l6">
                                    <button mat-flat-button type="button" (click)="annuler()" color="warn">annuler
                                    </button>
                                </div>
                            </div>
                            }
                        </form>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="header_titles"></tr>
                <tr mat-row *matRowDef="let row; columns: header_titles;let index = index"
                    [ngStyle]="{'background-color':row==current_row()?'#F5FFFA':'','display':row==current_row()?'none':''}">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" [ngStyle]="{'display':row!=current_row()?'none':'',
                    'background-color':'#F5FFFA'
                }"></tr>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #validation let-formGroup="formGroup">
    <button mat-flat-button type="submit"
        [disabled]="!formGroup.valid">{{is_update()?'Modifier':'Enregistrer'}}</button>
    <button mat-flat-button type="button" (click)="annuler()" color="warn">annuler</button>
</ng-template>
<ng-template #saisies let-formGroup="formGroup" let-table="table" let-element="element">
    @for (item of table; track item) {
    @if(item.type=='text1'){
    @switch (item.type) {
    @case (
    "text1"
    ) { <app-form-saisi label={{item.label}} type={{item.type}} control_name={{item.control_name}}
        [parent_FG]="table_update_form()">
    </app-form-saisi>}
    @case (
    "number"
    ) { <app-form-saisi label={{item.label}} type={{item.type}} control_name={{item.control_name}}
        [parent_FG]="table_update_form()">
    </app-form-saisi>}
    @case (
    "date"
    ) { <app-form-saisi label={{item.label}} type={{item.type}} control_name={{item.control_name}}
        [parent_FG]="formGroup">
    </app-form-saisi>}
    @case (
    "daterange"
    ) {<app-form-saisi label={{item.label}} type={{item.type}} control_name={{item.control_name}}
        enddate_control_name={{item.enddate_control_name}} [parent_FG]="formGroup">
    </app-form-saisi>}
    @case (
    "select"
    ) {<app-form-saisi label={{item.label}} type={{item.type}} control_name={{item.control_name}}
        [tableau]="item.tableau" [parent_FG]="formGroup">
    </app-form-saisi>}
    @case ("selectM"
    ) {<app-form-saisi label={{item.label}} type={{item.type}} control_name={{item.control_name}}
        [tableau]="item.tableau" [parent_FG]="formGroup">
    </app-form-saisi>}
    }
    }

    }




</ng-template>
<ng-template #entetebody>
    <div class="row">
        <div class="col s12 l12">
            <input [ngStyle]="{
                'border-radius.px':100,
                'border':'1px solid #00bcd4',
                'font-size.px':20,
                'margin-top':'2.5rem'}" matInput (keyup)="applyFilter($event)" #input placeholder="rechercher">
        </div>
    </div>
    <div class="row">
        <div class="col s12 l12">
            <button [ngStyle]="{'margin-bottom':'1rem'}" (click)="addElement()" mat-flat-button color="primary"
                matTooltip="Ajouter nouveau" matTooltipPosition="left" aria-label="Ajouter nouveau">
                <span class="material-icons">
                    playlist_add
                </span>
                Nouveau
            </button>
        </div>
    </div>

</ng-template>