<div class="titre">
    <h2> Pointages du personnel</h2>
</div>

<mat-drawer-container class="wen-table-drawer-container">
    <mat-drawer mode="over" position="start" #table_update_drawer [opened]="is_table_list_open()" disableClose="true">
        <section class="table-update">
            <div class="table-update__header">
                <h3>PERSONNES NON POINTEES</h3>
            </div>
            <div class="table-update__body">
                <div *ngIf="datespointage().includes(madate())">
                    <div *ngFor="let row of personnel_store.no_pointage();let i=index">
                        <mat-checkbox [checked]="row.ischecked" (change)="is_checked2(i)">
                            <h3 [ngStyle]="{'font-size.px':12}"> {{row.names.nom +' '+row.names.prenom}} </h3>
                        </mat-checkbox>
                    </div>
                    <div class="actions">
                        <button mat-flat-button color="primary" [disabled]="!personnel_store.ischecked().includes(true)"
                            (click)="ajouter()">
                            Ajouter au pointage</button>
                    </div>

                </div>

            </div>
            <div class="table-update__footer">
                <button mat-flat-button color="warn" (click)="Annuler2()"> Quitter</button>
            </div>
        </section>
    </mat-drawer>
    <mat-drawer-content>
        <div class="section_pointage">
            <div class="lateral_gauche">
                <div class="lat_bas">
                    <div class="hide-on-med-and-down">
                        <div class="titre">
                            <h2>Pointages effectutés</h2>
                        </div>
                        @for(node of personnel_store.getDates()[1];track $index; let index = $index){
                        <div
                            [style]="{'background-color':'#D2D2D2','display':'flex','width.%':80,'border': '1px solid'}">
                            <button mat-icon-button (click)="expander(index)"
                                [ngStyle]="{'margin-left.px':10,'margin-top.px':20}">
                                @if(tab_expander()[index]){
                                <mat-icon>keyboard_arrow_down</mat-icon>
                                }@else {
                                <mat-icon>keyboard_arrow_up</mat-icon>
                                }
                            </button>
                            <h1
                                [ngStyle]="{'font-size.px':18,'font-weight':'bold','margin-left.px':20,'font-family':'Trebuchet MS, sans-serif'}">
                                {{node.name}}</h1>
                            <button mat-icon-button (click)="print(node)"
                                [ngStyle]="{'margin-left.px':20,'margin-top.px':20}">
                                <mat-icon>print</mat-icon></button>
                        </div>
                        @for(row of node.children;;track $index){
                        <div (click)="afficher(row.name)"
                            [ngClass]="{'row_hide':tab_expander()[index] ,'ligne_expand':!tab_expander()[index]}"
                            [ngStyle]="{'border': '1px solid','background-color':'#F5F5F5'}">
                            <h3 [ngStyle]="{'font-size.px':16,'font-weight':'bold','margin-left.px':40}"> {{row.name}}
                            </h3>
                            <button mat-icon-button (click)="deletedate(row.name)"
                                [ngStyle]="{'margin-left.px':40}"><mat-icon>
                                    delete</mat-icon>
                            </button>
                        </div>

                        }
                        }

                    </div>
                </div>
                <div class="lat_bas">
                    <div class="hide-on-large-only">
                        <div class="titre">
                            <h2>Pointages effectués</h2>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <mat-form-field [ngStyle]="{'width.%':80}">
                                    <mat-label>
                                        pointages
                                    </mat-label>
                                    <mat-select [(value)]="current_pointage" >
                                        <mat-option
                                            [ngStyle]="{'font-weight':'bold','font-size':'20px','text-align':'center','border-bottom':'1px solid red'}"
                                            *ngFor="let node of personnel_store.getDates()[1]" [value]="node">
                                            {{node.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button mat-icon-button [ngStyle]="{'margin-left.px':20,'margin-top.px':20}"
                                    (click)="print(current_pointage())" [disabled]="!current_pointage()">

                                    <mat-icon>print</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col s12">

                                <mat-form-field [ngStyle]="{'width.%':80}">
                                    <mat-label>
                                        dates
                                    </mat-label>
                                    <mat-select (selectionChange)="afficher($event.value)">
                                        <mat-option
                                            [ngStyle]="{'font-weight':'bold','font-size':'20px','text-align':'center','border-bottom':'1px solid red'}"
                                            *ngFor="let node of node_children()" [value]="node.name">
                                            {{node.name}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="lateral_droit">
                <div class="barre_haut1">
                    <div class="row">
                        <div class="col s12 l12">
                            <mat-form-field class="example-form-field" [ngStyle]="{'width.%':50}">
                                <mat-label>Choisir une date</mat-label>
                                <input matInput [matDatepicker]="datepicker" (dateInput)="addEvent( $event)"
                                    [ngModel]="default_date()" placeholder="DATE">
                                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker>
                                    <mat-datepicker-actions>
                                        <button mat-button matDatepickerCancel>Annuler</button>
                                        <button mat-raised-button color="primary" matDatepickerApply>Appliquer</button>
                                    </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l12">
                            <button mat-flat-button (click)="commencerPoint()"
                                [disabled]="datespointage().includes(madate())" color="primary">Commencer pointage
                            </button>
                        </div>

                    </div>
                </div>
                <div class="barre_haut2">
                    <div class="row ">
                        <div class="col s3 l2 right">
                            <button mat-flat-button color="primary" (click)="ouvriliste()" [ngStyle]="{'width.%':100}">
                                Ajouter personnel </button>
                        </div>
                    </div>
                </div>
                <div class="barre_milieu">
                    <h2> {{'Pointage du '+madate()}} </h2>
                </div>
                <div class="barre_bas">
                    @if(personnel_store.is_finished())
                    {
                    <table mat-table [dataSource]="dataSource()" class="booktable" multiTemplateDataRows>
                        <ng-container matColumnDef="nom">
                            <th mat-header-cell *matHeaderCellDef> NOM
                            </th>
                            <td mat-cell *matCellDef="let element;let i=index">
                                <a (click)="editperso(element)">{{element.nom}} </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="prenom">
                            <th mat-header-cell *matHeaderCellDef> PRENOM

                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.prenom}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fonction">
                            <th mat-header-cell *matHeaderCellDef> FONCTION

                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fonction}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="presence">
                            <th mat-header-cell *matHeaderCellDef>
                                <h3 [ngStyle]="{'font-size.px':'18','font-weight':'bold'}">PRESENCE</h3>
                                <mat-checkbox [checked]="allComplete()" [indeterminate]="someComplete()"
                                    (change)="setAll($event.checked)">{{"selectionner tout"}}</mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row;index as i">
                                @if(row.substask)
                                {
                                <mat-checkbox [checked]="row.substask.completed" (change)="is_checked(row,i)">
                                    {{row.substask.name}}
                                </mat-checkbox>
                                }

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="nbre_heure">
                            <th mat-header-cell *matHeaderCellDef> NBRE HEURES

                            </th>
                            <td mat-cell *matCellDef="let element;let i=index">
                                {{element.heure_normale}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="heure_sup">
                            <th mat-header-cell *matHeaderCellDef> HEURES SUP

                            </th>
                            <td mat-cell *matCellDef="let element;let i=index">
                                {{element.heure_sup}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row;let i=index">
                                <div *ngIf="row.Mpresence==true">
                                    <button mat-icon-button (click)="editperso(row)"><mat-icon>edit</mat-icon></button>
                                </div>
                                <button mat-icon-button (click)="exclure(row)"><mat-icon>clear</mat-icon></button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element;let ind=index"
                                [attr.colspan]="displayedColumns.length">
                                <form [formGroup]="table_update_form" (ngSubmit)="updateTableData()">
                                    <div class="row center">
                                        <div class="col s12 l12">
                                            <mat-form-field>
                                                <mat-label>
                                                    Nombre d'heures travaillé
                                                </mat-label>
                                                <input matInput formControlName="heureNorm" type="number"
                                                    placeholder="HEURES TRAVAILLEES">
                                            </mat-form-field>
                                        </div>
                                        <div class="col s12 l12">
                                            <mat-form-field>
                                                <mat-label>
                                                    Nombre d'Heures sup
                                                </mat-label>
                                                <input matInput formControlName="heureSup" type="number"
                                                    placeholder="HEURES SUP">
                                            </mat-form-field>
                                        </div>


                                    </div>
                                    <div class="row center">
                                        <div class="col s12 l12" [ngStyle]="{'margin-top.px':20}">
                                            <button mat-flat-button type="submit" color="primary"
                                                [disabled]="!table_update_form.valid">
                                                Enregistrer
                                            </button>
                                        </div>
                                        <div class="col s12 l12" [ngStyle]="{'margin-top.px':20}">
                                            <button mat-flat-button (click)="annuler()" color="warn" type="button">
                                                Annuler
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index;"
                            [ngClass]="{'heuresup':row.heure_sup>0,'absent':row.Mpresence==false}">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
                            [ngStyle]="{'display':row!=current_row()?'none':'',
                            'background-color':'#f5f5f5'
                        }"></tr>
                    </table>
                    } @else {
                    <div [ngStyle]="{'padding-top.px':200}">
                        <mat-spinner [ngStyle]="{'margin-left.%':50}"></mat-spinner>
                    </div>
                    }
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<!--  <h2> Impression du pointage</h2>
                    <form [formGroup]="formG">
                        <mat-form-field class="example-form-field">
                            <mat-label>Choisir intervale de dates</mat-label>
                            <mat-date-range-input [rangePicker]="daterangepicker">
                                <input matInput matStartDate placeholder="Start Date" formControlName="date_debut">
                                <input matInput matEndDate placeholder="End Date" formControlName="date_fin"
                                    (dateChange)="dateRangeChange()">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="daterangepicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #daterangepicker>
                            </mat-date-range-picker>
                        </mat-form-field>
                    </form>
                    <button mat-flat-button (click)="impression()" color="primary" [disabled]="!formG.valid">
                        Imprimer pointage</button> -->