@defer(on timer(1s);hydrate when !end_of_load()){
    <app-home-template [nav_liste]="nav_liste" [toolbar]="toolbar" [content]="content" [title]="title">
    </app-home-template>
    }
    @placeholder{
    <div class="spinner-container">
        <mat-spinner [ngStyle]="{'margin-left.%':50}"></mat-spinner>
    </div>
    }
    
    
    <ng-template #nav_liste>
        <li mat-list-item>
            <a routerLink="gasoil">
                Gestion Gasoil
            </a>
        </li>
        <li mat-list-item>
            <a routerLink="pannes">
                Déclaration des pannes
            </a>
        </li>
        <li mat-list-item>
            <a routerLink="materiel">
                Liste des engins
            </a>
        </li>
    </ng-template>
    <ng-template #toolbar>
        <div class="m_liens hide-on-med-and-down">
            <div>
                <a routerLink="gasoil" class="btn" (click)="titre.set('Gestion Gasoil')">
                    Gestion Gasoil
                </a>
            </div>
            <div >
                <a routerLink="pannes" class="btn" (click)="titre.set('Déclaration des pannes')">
                     Pannes
                </a>
            </div>
            <div >
                <a routerLink="materiel" class="btn" (click)="titre.set('Liste des engins')">
                    Liste des engins
                </a>
            </div>
        </div>
    </ng-template>
    <ng-template #title>
        <h2>{{titre()}}</h2>
    </ng-template>
    <ng-template #content>
            <router-outlet>
            </router-outlet>
    </ng-template>  
