<!-- @if(!affiche())
{
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidnav>
        <mat-nav-list (click)="sidnav.close()">
            @if(_auth_service.userSignal()?.role=='admin' || _auth_service.userSignal()?.role=='user1')
            {
            <a mat-list-item routerLink="/home_gestion/materiel">
                <mat-icon> local_shipping </mat-icon>
                <span>Liste matériel</span>
            </a>
            -----------------------
            <a mat-list-item routerLink="/home_gestion/personnel">
                <mat-icon>person </mat-icon>
                <span>Liste personnel </span>
            </a>
            -----------------------
            }
            @if(_auth_service.userSignal()?.role=='admin' || _auth_service.userSignal()?.role=='user2')
            {
            <a mat-list-item routerLink="/admin/liste_devis">
                <mat-icon> local_shipping </mat-icon>
                <span>Liste des devis</span>
            </a>
            -----------------------
            <a mat-list-item routerLink="/home_travaux/liste_sstraitants">
                <mat-icon>person </mat-icon>
                <span>Liste des sous-traitants </span>
            </a>
            -----------------------
            }

            @if(_auth_service.userSignal()?.role=='admin')
            { <a mat-list-item routerLink="/admin">
                <mat-icon>build </mat-icon>
                <span>Administration</span>
            </a>
            -----------------------
            }

            <a mat-list-item (click)="logout()">
                <mat-icon>logout </mat-icon>
                <span>Déconnecter</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="toolbar">
        <mat-toolbar>
            <button mat-icon-button (click)="sidnav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <ng-container [ngTemplateOutlet]="toolbar()">
            </ng-container>

            <div class="spacer_register">

            </div>

            <div class="spacer_user">

                <mat-form-field>
                    <mat-label> Choisir projet</mat-label>
                    <mat-select (selectionChange)="choix_projet($event)" [(ngModel)]="_auth_service.current_projet_id">
                        @for(projet of projets();track projet.id){
                        <mat-option [value]="projet.id">{{projet.intitule}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="spacer_logo">
                <h1>{{ _auth_service.userSignal()?.username}}</h1>
                <div class="logo">
                    <h3>SOLUBTP </h3>
                    <h4>By Wen</h4>
                </div>
            </div>
        </mat-toolbar>
        <ng-container [ngTemplateOutlet]="content()">
        </ng-container>
    </mat-sidenav-content>

</mat-sidenav-container>
}
@else {
<div [ngStyle]="{'display':'flex','justify-content':'center','padding-top.px':100}">
    <div>
        <mat-spinner [ngStyle]="{'margin-right.px':100}"></mat-spinner>
    </div>
    <h2>déconnexion....</h2>
</div>

}
 -->
@if(affiche()){
<div [ngStyle]="{'display':'flex','justify-content':'center','padding-top.px':100}">
    <mat-spinner [ngStyle]="{'margin-right.px':100}"></mat-spinner>
    <h2>déconnexion....</h2>
</div>
}
@else {
<mat-sidenav-container>
    <mat-sidenav #sidnav class="sidenav">
        <mat-nav-list (click)="sidnav.close()">
            <ul>
                <ng-container [ngTemplateOutlet]="nav_liste()">
                </ng-container>
                <li class="center"> ----------------------- </li>
                @if(_auth_service.userSignal()){
                <li class="center" mat-list-item>
                    <a (click)="logout()" title="déconnecter">
                        Déconnecter
                    </a>
                </li>
                }@else{
                <li class="center" mat-list-item>
                    <a routerLink="/login" title="connecter">
                        connecter
                    </a>
                </li>
                }
                <li class="center"> ----------------------- </li>
                <li class="center"> <button (click)="sidnav.close()" title="fermer"> <mat-icon>
                            close</mat-icon></button> </li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <nav role="navigation">
            <div class="nav-wrapper">
                <div class="brand-logo gauche">
                    <h2>
                        SOLUBTP
                    </h2>
                </div>
                <div class="brand-logo menu hide-on-large-only">
                    <button mat-icon-button (click)="sidnav.open()">
                        <mat-icon>
                            menu
                        </mat-icon>
                    </button>
                </div>
                <div class="brand-logo navig hide-on-med-and-down">
                    <ul>
                        <ng-container [ngTemplateOutlet]="toolbar()">
                        </ng-container>
                    </ul>
                </div>
                <div class="brand-logo right">
                    @if(_auth_service.userSignal()){
                    <h2>
                        {{ _auth_service.userSignal()?.username}}
                    </h2>
                    }
                </div>
                <div class="brand-logo right_ext hide-on-med-and-down">
                    @if(_auth_service.userSignal()){
                    <button mat-icon-button (click)="logout()" title="déconnecter">
                        <mat-icon> logout</mat-icon>
                    </button>
                    }@else {
                    <a [ngStyle]="{'font-size.rem':1.5,'color':'blue'}" routerLink="/login" title="connecter">
                        se connecter
                    </a>
                    }
                </div>
            </div>
        </nav>
        <div class="partie">
            <div class="entete">
                    <ng-container [ngTemplateOutlet]="title()" />
                
            </div>
            <div class="corps">
                <ng-container [ngTemplateOutlet]="content()"> </ng-container>
            </div>
            <div class="piedpage">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Qui sommes nous?</h5>
                        <p class="grey-text text-lighten-4">Nous sommes une équipe d'Ingénieurs en Bâtiments et travaux
                            Publics.
                            Passionnés de nouvelles technologies, nous avons décidé de mettre nos compétences au service des
                            entreprises de BTP.
                            Ainsi, nous avons conçu cette application pour vous aider à gérer vos chantiers.
                            N'hésitez pas à nous contacter pour plus d'informations et pour des suggestions d'amélioration.
                            Ces outils sont gratuits pour le moment et vous pouvez les utiliser sans aucune restriction.
                            Merci de nous faire confiance.
    
                        </p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Contacts</h5>
                        <ul>
                            <li> DABILGOU Wend-lassida</li>
                            <li> Ingénieur Civil TPE</li>
                            <li>Tél: 00226 78 34 66 45/ 66 41 66 59</li>
                            <li>{{ 'Email: dabilgou10@gmail.com'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 
            <ng-container [ngTemplateOutlet]="content()"> </ng-container> -->
        </div>
<!-- 
        <footer>
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Qui sommes nous?</h5>
                    <p class="grey-text text-lighten-4">Nous sommes une équipe d'Ingénieurs en Bâtiments et travaux
                        Publics.
                        Passionnés de nouvelles technologies, nous avons décidé de mettre nos compétences au service des
                        entreprises de BTP.
                        Ainsi, nous avons conçu cette application pour vous aider à gérer vos chantiers.
                        N'hésitez pas à nous contacter pour plus d'informations et pour des suggestions d'amélioration.
                        Ces outils sont gratuits pour le moment et vous pouvez les utiliser sans aucune restriction.
                        Merci de nous faire confiance.

                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contacts</h5>
                    <ul>
                        <li> DABILGOU Wend-lassida</li>
                        <li> Ingénieur Civil TPE</li>
                        <li>Tél: 00226 78 34 66 45/ 66 41 66 59</li>
                        <li>{{ 'Email: dabilgou10@gmail.com'}}</li>
                    </ul>
                </div>
            </div>
        </footer> -->
    </mat-sidenav-content>
</mat-sidenav-container>
}