@if(!affiche())
{

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a routerLink="/accueil" class="brand-logo">SOLUBTP</a>
        <ng-container [ngTemplateOutlet]="nav_liste()">
        </ng-container>
    </div>
    
</nav>
<ng-container [ngTemplateOutlet]="content()">
</ng-container>
<ng-container [ngTemplateOutlet]="footer()">
</ng-container>
<!-- 
<mat-sidenav-container class="centainer">
    <mat-sidenav #sidnav >
        <mat-nav-list (click)="sidnav.close()">
            @if(_auth_service.userSignal()?.role=='admin' || _auth_service.userSignal()?.role=='user1')
            {
            <a mat-list-item routerLink="/home_gestion/materiel">
                <mat-icon> local_shipping </mat-icon>
                <span>Liste matériel</span>
            </a>
            -----------------------
            <a mat-list-item routerLink="/home_gestion/personnel">
                <mat-icon>person </mat-icon>
                <span>Liste personnel </span>
            </a>
            -----------------------
            }
            @if(_auth_service.userSignal()?.role=='admin' )
            {
            <a mat-list-item routerLink="/admin/liste_devis">
                <mat-icon> local_shipping </mat-icon>
                <span>Liste des devis</span>
            </a>
            -----------------------
            <a mat-list-item routerLink="/home_travaux/liste_sstraitants">
                <mat-icon>person </mat-icon>
                <span>Liste des sous-traitants </span>
            </a>
            -----------------------
            }

            @if(_auth_service.userSignal()?.role=='admin')
            {
            <a mat-list-item routerLink="/admin">
                <mat-icon>build </mat-icon>
                <span>Administration</span>
            </a>
            -----------------------
            }

            <a mat-list-item (click)="logout()">
                <mat-icon>logout </mat-icon>
                <span>Déconnecter</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="toolbar">
        <mat-toolbar>
            <div class="row">
                <div class="col s1 m1">
                    <button mat-icon-button (click)="sidnav.open()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div class="col s1 m1">
                    <ng-container [ngTemplateOutlet]="toolbar()">
                    </ng-container>
                </div>
                <div class="col s1 m1">
                    <button mat-icon-button (click)="logout()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
                <div class="col s1 m1">
                    <h1>{{ _auth_service.userSignal()?.username}}</h1>

                </div>
            </div>
        </mat-toolbar>
        <ng-container [ngTemplateOutlet]="content()">
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container> -->
}@else {
<div [ngStyle]="{'display-content':'center'}">
    <h5 [ngStyle]="{'text-align':'center'}">{{_auth_service.message()}}</h5>
    <mat-spinner diameter="50" [ngStyle]="{'color':'red','margin-left.%':45}"></mat-spinner>
</div>
}