@defer(on timer(1s);hydrate when !end_of_load()){
<app-home-template [nav_liste]="nav_liste" [toolbar]="toolbar" [content]="content" [title]="title"> 
</app-home-template>
}
@placeholder{
<div [ngStyle]="{'padding-top.px':200}">
    <mat-spinner [ngStyle]="{'margin-left.%':50}"></mat-spinner>
</div>
}


<ng-template #nav_liste>
    <li mat-list-item>
        <a routerLink="gasoil">
            Gestion Gasoil
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="pannes">
            Déclaration des pannes
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="pointages">
            Pontage du personnel
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="personnel">
            Liste du personnel
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="engins">
            Liste des engins
        </a>
    </li>
</ng-template>
<ng-template #toolbar>
    <li>
        <a routerLink="gasoil" class="btn" (click)="titre.set('Gestion Gasoil')">
            Gestion Gasoil
        </a>
    </li>
    <li >
        <a routerLink="pannes" class="btn" (click)="titre.set('Déclaration des pannes')">
            Déclarationn de Pannes
        </a>
    </li>
    <li >
        <a routerLink="pointages" class="btn" (click)="titre.set('Pointages du personnel')">
            Pointages personnel
        </a>
    </li>
    <li >
        <a routerLink="personnel" class="btn" (click)="titre.set('Liste du personnel')">
            Liste du personnel
        </a>
    </li>
    <li >
        <a routerLink="engins" class="btn"  (click)="titre.set('Liste des engins')">
            Liste des engins
        </a>
    </li>
</ng-template>

<ng-template #title>
    {{titre()}}
</ng-template>
<ng-template #content>
    <router-outlet>
    </router-outlet>
</ng-template>