@defer(on timer(1s);hydrate when !end_of_load()){
<app-home-template [nav_liste]="nav_liste" [toolbar]="toolbar" [content]="content" [title]="title">
</app-home-template>
}
@placeholder{
    <div [ngStyle]="{'margin-top':'20px',
    'display':'flex',
    'justify-content':'center',
    'align-items':'center'}">
        <mat-spinner [ngStyle]="{'width':'50%'}"></mat-spinner>
    </div>
}

<ng-template #nav_liste>
    <li mat-list-item>
        <a routerLink="entrees_materiaux">
            entrées
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="sorties_materiaux">
            sorties
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="fournisseurs">
           fournisseurs
        </a>
    </li>
    <li mat-list-item>
        <a routerLink="commandes">
            commandes
        </a>
    </li>
</ng-template>
<ng-template #toolbar>
    <div class="m_liens hide-on-med-and-down">
        <div >
            <a routerLink="commandes" class="btn" >
               commandes
            </a>
        </div>
       
        <div>
            <a routerLink="entrees_materiaux" class="btn" >
                entrées
            </a>
        </div>
        
        <div >
            <a routerLink="sorties_materiaux" class="btn" >
                 sorties
            </a>
        </div>
        <div >
            <a routerLink="fournisseurs" class="btn" >
                fournisseurs
            </a>
        </div>
    </div>
</ng-template>
<ng-template #title>
    <h2>{{titre()}}</h2>
</ng-template>
<ng-template #content>
        <router-outlet>
        </router-outlet>
</ng-template>  