<div [ngStyle]="{'display':'block',
'width.%':40,
'text-align':'center',
'padding-top.px':10,
'margin-left.%':30,
'margin-right.%':30}">
    <mat-form-field 
    [ngStyle]="{'width.%':90}">
        <mat-label>Rubrique</mat-label>
        <mat-select (selectionChange)="choix_rubrique($event)">
            @for(item of items;track item)
            {
            <mat-option [value]="item.id" [ngStyle]="{'font-weight':'bold','text-align':'center','border-bottom':'1px solid red'}" >
                {{item.value}}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

</div>

@if(selected_rubrique()==1)
{
    <app-tbord-users>
    </app-tbord-users>
}

@if(selected_rubrique()==2)
{
    <app-tbord-classes-engins>
    </app-tbord-classes-engins>
}
@if(selected_rubrique()==3)
{
    <app-tbord-entreprises>
    </app-tbord-entreprises>
}
    
@if(selected_rubrique()==4)
{
    <app-tbord-projets>
    </app-tbord-projets>
}
@if(selected_rubrique()==4)
{
    <app-tbord-projets>
    </app-tbord-projets>
}
@if(selected_rubrique()==5)
{
    <app-tbord-sstraitants>
    </app-tbord-sstraitants>
}
@if(selected_rubrique()==6)
{
    <app-liste-devis>
    </app-liste-devis>
}

