<div class="container">
        <div class="myrow">
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kdsddsd
            </div>
        </div>
        <div class="myrow">
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kd
            </div>
            <div class="item l2">
                kdsddsd
            </div>
        </div>
</div>