<div class="container" [ngStyle]="{'margin-top.%':10}">
    <div class="row">
        <h3 class="light-blue-text center">Connexion</h3>
        <form (ngSubmit)="sumitlogin()" [formGroup]="loginForm">
            <div class="col s4 offset-s4 z-depth-4 hide-on-med-and-down" [ngStyle]="{'padding-top.%':2,'background-color':'#3BA899'}">
                <div class="center-align">
                    <mat-form-field [ngStyle]="{'width.%':90}">
                        <mat-label>Email</mat-label>
                        <input [ngStyle]="{'text-align':'center'}" matInput type="text" placeholder="email"
                            formControlName="email" />
                    </mat-form-field>
                </div>
                <div class="center-align">
                    <mat-form-field [ngStyle]="{'width.%':90}">
                        <mat-label>mot de passe</mat-label>
                        <input [ngStyle]="{'text-align':'center'}" matInput type="password" placeholder="password"
                            formControlName="password" />
                    </mat-form-field>
                </div>
                <div class="center-align">
                    <button mat-flat-button type="submit" color="primary"
                        [ngStyle]="{'width.%':60,'margin-bottom.%':5}" [disabled]="!loginForm.valid" >connecter</button>
                </div>
            </div>
        </form>
        <form (ngSubmit)="sumitlogin()" [formGroup]="loginForm">
            <div class="col s12  z-depth-5 " data-target="nav-mobile" [ngStyle]="{'border-radius.rem':1.5}"
                [ngStyle]="{'padding-top.%':2}">
                <div class="center-align">
                    <mat-form-field [ngStyle]="{'width.%':90}">
                        <mat-label>Email</mat-label>
                        <input [ngStyle]="{'text-align':'center'}" matInput type="text" placeholder="email"
                            formControlName="email" />
                    </mat-form-field>
                </div>
                <div class="center-align">
                    <mat-form-field [ngStyle]="{'width.%':90}">
                        <mat-label>mot de passe</mat-label>
                        <input [ngStyle]="{'text-align':'center'}" matInput type="password" placeholder="password"
                            formControlName="password" />
                    </mat-form-field>
                </div>
                <div class="center-align">
                    <button mat-flat-button type="submit" color="primary"
                        [ngStyle]="{'width.%':60,'margin-bottom.%':5}" [disabled]="!loginForm.valid">connection</button>
                </div>
            </div>
        </form>
    </div>

</div>