<table mat-table [dataSource]="donnees_table()" class="booktable">
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> NOM </th>

    <td mat-cell *matCellDef="let element;index as ind">
      @if(!clicker()[ind]){
      {{element.nom}}
      } @else {
      <input type="text" [(ngModel)]="selected_nom">
      }
    </td>
  </ng-container>
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef> PRENOM </th>
    <td mat-cell *matCellDef="let element;index as ind">
      @if(!clicker()[ind]){
      {{element.prenom}}
      } @else {
      <input type="text" [(ngModel)]="selected_prenom">
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="fonction">
    <th mat-header-cell *matHeaderCellDef> FONCTION</th>
    <td mat-cell *matCellDef="let element;index as ind">
      @if(!clicker()[ind]){
      {{element.fonction}}
      } @else {
      <input type="text" [(ngModel)]="selected_fonction">
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="num_phone1">
    <th mat-header-cell *matHeaderCellDef> N° TELEPHONE </th>
    <td mat-cell *matCellDef="let element;index as ind">
      @if(!clicker()[ind]){
      {{element.num_phone1}}
      } @else {
      <input type="text" [(ngModel)]="selected_num_phone1">
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element;index as ind">
      @if(!clicker()[ind]){
      <button mat-icon-button (click)="edit(element,ind)"> <mat-icon> edit</mat-icon> </button>
      <button mat-icon-button (click)="delete(element.id)"> <mat-icon> delete</mat-icon> </button>
      }@else {
      <button mat-icon-button (click)="update(element,ind)" title="enregistrer"> <mat-icon> save</mat-icon> </button>
      <button mat-icon-button (click)="clicker()[ind]=!clicker()[ind]" title="quitter"> <mat-icon> close</mat-icon>
      </button>
      }
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;let index = index"
    [ngStyle]="{'background-color':clicker()[index]==true?'#DCDCDC':''}"></tr>
</table>