<app-home-template [content]="content" [nav_liste]="nav_liste" [toolbar]="toolbar" [title]="title" />

<ng-template #nav_liste>
  @if(_autservice.userSignal())
  {
  <li mat-list-item>
    <a routerLink="/home_gestion">
      GESTION DES STOCKS ET COMMANDES
    </a>
  </li> 
  <li mat-list-item>
    <a routerLink="/home_gestion">
      GESTION MATERIELS ET ENGINS
    </a>
  </li>
  <li mat-list-item>
    <a routerLink="/home_gestion">
      DEVIS ET BUGDETS TRAVAUX
    </a>
  </li>
  <li mat-list-item>
    <a routerLink="/home_gestion">
      FACTURATIONS DES CLIENTS
    </a>
  </li>
  <li mat-list-item>
    <a routerLink="/home_gestion">
      FACTURATIONS DES PRESTATAIRES
    </a>
  </li>
  }
</ng-template>

<ng-template #toolbar>
</ng-template>
<ng-template #title>
 SOLUBTP
</ng-template>
<ng-template #content>
  <div class="row">
    <div class="col s12 l12">
      <p class="light center ">
          Solutions informatiques pour la gestion de votre chantier.</p>
    </div>
  </div>
  <div class="row center">
    <a routerLink="/home_gestion">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-title">
            GESTION DES STOCKS ET COMMANDES
          </div>
          <div class="card-content">
            <p>Effectuer des commandes de matériaux pour vos chantiers et gérer vos différents stocks (entrées et
              sorties)</p>
          </div>

        </div>
      </div>
    </a>


    <a routerLink="/home_gestion">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-title ">
            GESTION MATERIELS ET ENGINS
          </div>
          <div class="card-content">
            <p>Planifier l'utilisation et la maintenance de vos engins de chantiers. </p>
          </div>

        </div>
      </div>
    </a>


    <a routerLink="/home_gestion">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-title ">
            DEVIS ET BUGDETS TRAVAUX
          </div>
          <div class="card-content">

            <p> Réaliser des devis pour vos clients.</p>
            <p> Faire des budgets ressources pour vos chantiers.</p>
            <p> Suivre la mise en oeuvre des budgets et les écarts.</p>

          </div>
        </div>
      </div>
    </a>

    <a routerLink="/home_gestion">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-title ">
            FACTURATIONS DES CLIENTS
          </div>
          <div class="card-image">

          </div>
          <div class="card-content">
            <p>
              Effectuers les constats, attachements et décomptes des travaux réalisés.
              Editer les factures de vos clients puis suivre les paiements.
              Effectuer des reportings sur les paiements et les retards de paiements.
            </p>
          </div>

        </div>
      </div>
    </a>

    <a routerLink="/home_gestion">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-title ">
            FACTURATIONS DES PRESTATAIRES
          </div>
          <div class="card-image">

          </div>
          <div class="card-content">
            <p>
              Effectuer les constats, attachements et décomptes des travaux réalisés par les prestataires
            </p>
            <p>
              Editer les factures des prestataires et suivre les paiements.
            </p>
            <p>
              Effectuer des reportings sur les paiements et les retards de paiements.
            </p>

          </div>

        </div>
      </div>
    </a>
  </div>


</ng-template>